// Variables
@use "font";
@use "color";

/* CONTACT */

#contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 5% 0 5%;

    img {
        width: 100%;
        max-width: 320px;
        border-radius: 50%;
    }

    .right {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: right;

        div {
            margin-bottom: 50px;
        }

        h2 {
            margin-bottom: 20px;
        }

        svg {
            width: 40px;
            margin-left: 15px;
        }

        .mail {
            width: 100%;
        }

        .cv {
            width: 100%;
            display: inline-block;


            button {
                width: 60%;
                padding: 14px 0;
                border: 2px solid color.$blue;
                color: cornsilk;
                font-family: 'Lato', sans-serif;
                text-transform: uppercase;
                font-weight: 700;
                border-radius: 8px;
                background-color: cornflowerblue;
                cursor: pointer;
                transition: all 0.3;

                &:hover {
                    font-weight: 900;
                }
            }

            .buttonStyle {
                margin: 0;
            }

        }
    }

}


/* FOOTER */

footer {
    height: 70px;
    background-color: color.$blue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    color: #fff;

    p {
        font-size: 0.9em;
    }
}

svg path {
    transition: 0.4s;
}