// Variables
@use "font";
@use "color";

/* HEADER */
header {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.logo {
    margin-left: 70px;

    img {
        width: 90px;
    }
}

nav {

    ul {
        display: flex;
        justify-content: space-around;
        text-transform: uppercase;
        font-weight: font.$bold;
        margin-right: 70px;
    }

    li {
        padding: 0 30px 0 30px;

    }

    a:hover {
        transition: 0.4s;
        color: color.$blue;
    }
}

.hamburger {
    display: none;
    margin-right: 70px;

    svg {
        &hover {
            color: red;
        }
    }

}