// Variables
@use "font";
@use "color";


/* SKILL */

#skill {
    margin-bottom: 120px;
}

.boxContainer {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box {

    .icon {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 25px;
    }

    p {
        text-align: center;
        margin-bottom: 10px;
    }

    .light {
        color: color.$light-dark;
    }
}