// Variables
@use "partials/font";
@use "partials/color";
// Partials
@use "partials/header";
@use "partials/hero";
@use "partials/home";
@use "partials/skill";
@use "partials/contact";
@use "partials/responsive";


@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");


* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: color.$black;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 4em;
}

@media (max-width: 687px) {
    h1 {
        font-size: 9vw;
    }
}

h2 {
    font-size: 1.4em;
    text-transform: uppercase;
    padding-bottom: 4px;
    margin-bottom: 30px;
    border-bottom: 4px solid color.$blue;
    display: inline-block;
    font-weight: font.$regular;
}

h3 {
    font-size: 2.5em;
    font-weight: font.$bold;
    text-align: center;
    margin-bottom: 150px;
}

p {
    font-size: 1em;
}

a {
    text-decoration: none;
    color: color.$black;
}

.container {
    max-width: 1440px;
    width: 90%;
    margin: auto;
}

.custom {
    color: color.$blue
}