@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
/* HEADER */
header {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-left: 70px;
}
.logo img {
  width: 90px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  font-weight: 700;
  margin-right: 70px;
}
nav li {
  padding: 0 30px 0 30px;
}
nav a:hover {
  transition: 0.4s;
  color: #5688C7;
}

span {
  text-align: center;
}

.hamburger_icon {
  display: none;
  margin-right: 70px;
  position: relative;
  height: 28px;
  width: 38px;
  cursor: pointer;
  z-index: 101;
}
.hamburger_icon span {
  position: absolute;
  border-radius: 10px;
  height: 5px;
  width: 100%;
  display: block;
  background-color: #272727;
  transition: ease-in-out 0.3s;
  transform: rotate(0deg);
}
.hamburger_icon span:nth-child(1) {
  top: 0px;
  transform-origin: left top;
  z-index: 2;
}
.hamburger_icon span:nth-child(2) {
  top: 12px;
  background-color: #5688C7;
  transform-origin: center;
}
.hamburger_icon span:nth-child(3) {
  top: 24px;
  transform-origin: left bottom;
}
.hamburger_icon span.open:nth-child(1) {
  transform: rotate(42deg);
}
.hamburger_icon span.open:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.hamburger_icon span.open:nth-child(3) {
  transform: rotate(-42deg);
  background-color: #5688C7;
}

.menu_mobile {
  display: none;
  position: absolute;
  z-index: 100;
  height: 100vh;
  width: 100%;
  right: 0;
  top: 0;
  background-color: #FAFAFA;
  transition: 0.4s;
}
.menu_mobile ul {
  display: flex;
  flex-direction: column;
  padding-top: 20%;
  justify-content: space-around;
  align-items: center;
  margin-right: 0px;
  height: 80%;
  font-size: 1.5em;
}
.menu_mobile li {
  padding: 15px 0 10px 0;
  border-bottom: 4px solid #5688C7;
}

.toggle {
  display: block;
}

.onTop {
  background-color: #5688C7;
  position: fixed;
  height: 50px;
  width: 50px;
  bottom: 50px;
  right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  transform: rotate(-90deg);
  color: white;
  cursor: pointer;
  display: none;
}

/* HERO */
#hero {
  background-image: url("../../assets/images/fondhero.jpg");
  background-size: 150%;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero .space {
  padding-right: 20px;
}

.heroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;
}
.heroContainer h1 {
  margin-bottom: 50px;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
}

.ability {
  display: flex;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
  flex-wrap: wrap;
  justify-content: center;
}
.ability p {
  padding: 8px 20px 8px 20px;
  margin-right: 15px;
  margin-left: 15px;
  cursor: default;
  font-size: 1.3em;
  margin-top: 30px;
  background-color: #80ade52f;
  border-radius: 2px;
  transition: all 0.4s;
}
.ability p:hover {
  color: #5688C7;
}

/* HOME */
#apropos {
  margin-bottom: 100px;
}
#apropos p {
  line-height: 1.8em;
  margin-bottom: 18px;
}

.more {
  margin-top: 2.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
}
.more span {
  font-weight: 400;
  white-space: nowrap;
  color: #4078c0;
  padding: 8px 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  background-color: #f3fdff;
}

/* SKILL */
#skill {
  margin-bottom: 80px;
}

.boxContainer {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.box {
  margin: 0 30px 50px 30px;
}
.box .icon {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
.box p {
  text-align: center;
  margin-bottom: 10px;
}
.box .light {
  color: #676767;
}

/* CONTACT */
#contact {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 5% 0 5%;
}
#contact img {
  width: 100%;
  max-width: 320px;
  border-radius: 50%;
}
#contact .right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: right;
}
#contact .right div {
  margin-bottom: 50px;
}
#contact .right h2 {
  margin-bottom: 20px;
}
#contact .right svg {
  width: 40px;
  margin-left: 15px;
}
#contact .right .mail {
  width: 100%;
}

/* FOOTER */
footer {
  height: 70px;
  background-color: #5688C7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  color: #fff;
}
footer p {
  font-size: 0.9em;
}

svg path {
  transition: 0.4s;
}

.noborder {
  border-right: none !important;
}

.menu_open {
  position: relative;
}

@media (max-width: 960px) {
  .heroContainer {
    margin-bottom: 15%;
  }

  .more {
    width: 100%;
    justify-content: flex-start;
  }
}
@media (max-width: 768px) {
  #hero h1 {
    display: flex;
    flex-direction: column;
    font-size: 3.8em;
  }

  .more {
    justify-content: center;
  }

  .menu {
    display: none;
  }

  .hamburger_icon {
    display: block;
  }

  .heroContainer h1 {
    justify-content: center;
  }

  .toggle_menu {
    display: block;
  }

  .ability p {
    font-size: 1em;
  }
}
@media (max-width: 480px) {
  #hero {
    background-size: 275%;
    background-position: bottom center;
  }
}
@media (max-width: 806px) {
  .ability p {
    font-size: 1em;
  }
}
@media (max-width: 687px) {
  h1 {
    font-size: 5em;
  }

  #contact {
    justify-content: center;
  }
  #contact img {
    max-width: 320px;
    margin-bottom: 50px;
  }
  #contact .right {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  h3 {
    margin-bottom: 90px !important;
  }

  .logo img {
    width: 80px;
  }

  #skill {
    margin-bottom: 60px !important;
  }

  footer {
    margin-top: 0px;
  }
}
* {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  color: #272727;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 4em;
}

@media (max-width: 687px) {
  h1 {
    font-size: 9vw;
  }
}
h2 {
  font-size: 1.4em;
  text-transform: uppercase;
  padding-bottom: 4px;
  margin-bottom: 30px;
  border-bottom: 4px solid #5688C7;
  display: inline-block;
  font-weight: 400;
}

h3 {
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 150px;
}

p {
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #272727;
}

.container {
  max-width: 1440px;
  width: 90%;
  margin: auto;
}

.custom {
  color: #5688C7;
}
